[submodule "Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting"]
	path = Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting
	url = https://github.com/studer-raimann/LiveVoting.git
