[submodule "Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting"]
	path = Customizing/global/plugins/Services/Repository/RepositoryObject/LiveVoting
	url = https://github.com/studer-raimann/LiveVoting.git
[submodule "Customizing/global/plugins/Services/Repository/RepositoryObject/AdobeConnect"]
	path = Customizing/global/plugins/Services/Repository/RepositoryObject/AdobeConnect
	url = https://github.com/DatabayAG/ILIAS_AdobeConnectPlugin.git
[submodule "Customizing/global/plugins/Services/Repository/RepositoryObject/Flashcards"]
	path = Customizing/global/plugins/Services/Repository/RepositoryObject/Flashcards
	url = https://github.com/ilifau/Flashcards.git
[submodule "Customizing/global/plugins/Services/Repository/RepositoryObject/EtherpadLite"]
	path = Customizing/global/plugins/Services/Repository/RepositoryObject/EtherpadLite
	url = https://github.com/jrocho/ILIAS-Etherpad-Lite-Plugin.git
[submodule "Customizing/global/plugins/Modules/Cloud/CloudHook/OwnCloud"]
	path = Customizing/global/plugins/Modules/Cloud/CloudHook/OwnCloud
	url = https://github.com/studer-raimann/OwnCloud.git
[submodule "Customizing/global/skin/FHDortmund"]
	path = Customizing/global/skin/FHDortmund
	url = https://github.com/E-Learning-FHDO/FH_Dortmund.git
[submodule "ifv"]
	path = ifv
	url = ssh://git@git.ilias.fh-dortmund.de/jan/ifv.git
[submodule "Customizing/global/plugins/Services/Repository/RepositoryObject/ViMP"]
	path = Customizing/global/plugins/Services/Repository/RepositoryObject/ViMP
	url = https://git.ilias.fh-dortmund.de/ilias-public/vimp-plugin.git
